lab_25_n8n/workflows/seed/http-demo.json
{
  "name": "Lab demo — fetch JSON (no credentials)",
  "nodes": [
    {
      "parameters": {},
      "id": "lab25-trigger-1",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jsonplaceholder.typicode.com/todos/1",
        "authentication": "none",
        "options": {}
      },
      "id": "lab25-http-1",
      "name": "GET sample todo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [\n  {\n    json: {\n      lab: 'lab_25_n8n',\n      taskTitle: item.title,\n      completed: item.completed,\n      note: 'Use this as a template: trigger → HTTP → Code to shape data for agents, webhooks, or databases.'\n    }\n  }\n];"
      },
      "id": "lab25-code-1",
      "name": "Shape result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "GET sample todo", "type": "main", "index": 0 }]]
    },
    "GET sample todo": {
      "main": [[{ "node": "Shape result", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true }
}
